.footer {
  position: fixed;
  bottom: 0;
  margin: 0;
  left: 0;
  text-align: center;
  width: 100%;
  font-family: "Poppins";
  font-weight: 300;
}

.iconBackground {
  background-color: #dcdcdc;
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.5s ease;
}

.iconBackground:hover {
  box-shadow: -2px 0px 5px -2px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 768px) {
  .footer div div div {
    display: flex;
    flex-direction: column !important;
  }

  .footer .links {
    display: flex;
    flex-direction: row !important;
    margin-top: 2rem;
  }
}
