:root {
  --toastify-color-progress-light: linear-gradient(
    326deg,
    #bd4f6c 0%,
    #d7816a 74%
  );
}

.euiFormLabel.euiFormLabel-isFocused {
  color: #bd271e;
}

.euiFieldText:focus {
  background-color: white;
  background-image: linear-gradient(
    to top,
    #bd271e,
    #bd271e 2px,
    transparent 2px,
    transparent 100%
  );
  background-size: 100% 100%;
  outline: none;
  box-shadow: inset 0 0 0 1px rgb(17 43 134 / 10%);
}
