.imgBox {
  cursor: pointer;
}

.imgBox button span {
  font-family: "Poppins";
  font-weight: 500;
}

.imgBox button:hover {
  background: var(--chakra-colors-red-100) !important;
}
.imgBox button:active {
  background: var(--chakra-colors-red-100) !important;
}

.imgBox button[data-active] {
  background: var(--chakra-colors-red-100) !important;
}

@media screen and (max-width: 736px) {
  .imgBox h2 img {
    float: left;
    margin: 0;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 0;
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
  }
  .header {
    min-width: 736px !important;
    max-width: 736px;
  }

  .imgBox div {
    float: right;
    margin: 0;
  }

  .imgBox p {
    inline-size: 150px;
    overflow-wrap: break-word;
  }

  .imgBox p strong {
    margin-left: 1rem;
  }
}
