@media screen and (max-width: 768px) {
  .imgBox h2 img {
    float: left;
    margin: 0;
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 0;
    margin-left: 2rem;
    align-items: center;
    justify-content: center;
  }
  .header {
    width: 92.5vh !important;
  }

  .imgBox div {
    float: right;
    margin: 0;
  }

  .imgBox p {
    inline-size: 150px;
    overflow-wrap: break-word;
  }

  .imgBox p strong {
    margin-left: 1rem;
  }
}
