@font-face {
  font-family: 'poppinsbold';
  src: url('assets/poppins/poppins-bold-webfont.woff2') format('woff2'),
       url('assets/poppins/poppins-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinsmedium';
  src: url('assets/poppins/poppins-medium-webfont.woff2') format('woff2'),
       url('assets/poppins/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'poppinslight';
  src: url('assets/poppins/poppins-light-webfont.woff2') format('woff2'),
       url('assets/poppins/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  border: 0;

  width: 100% !important;
  height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background: #ffff !important;
  font-family: "poppinsmedium" !important;
}

* {
  font-family: "poppinsmedium" !important;
}


