body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  border: 0;

  width: 100% !important;
  height: 100% !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background: #ffff !important;
  font-family: "poppinsmedium" !important;
}

* {
  font-family: "poppinsmedium" !important;
}


